#loading-bar {
    display: none;
}
.mdl-card {
    padding: 20px 10px 30px 10px;
    min-height: inherit;
    overflow: visible;
    width: 100%;
}
.mdl-textfield {
    margin: -10px 0;
}
.btn-action {
    position: absolute;
    bottom: -18px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 50%;
    border-radius: 25px;
    text-transform: none;
}